<%= form_for @parking do |f| %>
  <% if @parking.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@parking.errors.count, "error") %> prohibited
      this parking from being saved:</h2>
    <ul>
    <% @parking.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
  <p>
    <%= f.label :places %><br>
    <%= f.text_field :places %>
  </p>

  <p>
    <%= f.label :kind %><br>
    <%= f.select :kind, Parking::KIND_TYPES %>
  </p>

  <p>
    <%= f.label :hour_price %><br>
    <%= f.text_field :hour_price %>
  </p>

  <p>
    <%= f.label :day_price %><br>
    <%= f.text_field :day_price %>
  </p>

  <%= f.fields_for :address do |address_builder| %>
    <p>
      <%= address_builder.label :city %><br>
      <%= address_builder.text_area :city %>
    </p>

    <p>
      <%= address_builder.label :street %><br>
      <%= address_builder.text_area :street %>
    </p>

    <p>
      <%= address_builder.label :zip_code %><br>
      <%= address_builder.text_field :zip_code %>
    </p>
  <% end %>

  <p>
    <%= f.submit %>
  </p>
<% end %>
