%h1 Listing parkings
= render 'search'
= link_to 'New parking', new_parking_path
%br/
%br/
%table
  %tr
    %th City
    %th Places
    %th Hour price
    %th Day price
    %th
    %th
    %th
    %th
  - @parkings.each do |parking|
    %tr
      %td= parking.address.try(:city)
      %td= parking.places
      %td= parking.hour_price
      %td= parking.day_price
      %td= link_to 'Show', parking
      %td= link_to 'Edit', edit_parking_path(parking)
      %td= link_to 'Remove', parking, method: :delete, data: { confirm: 'Are you sure?' }
      %td= link_to 'Rent a place', new_parking_place_rent_path(parking)
