%h1= t :parkings
= render 'search'
= link_to t(:new_parking), new_parking_path
%br/
%br/
%table
  %tr
    %th
      = t :city
    %th
      = t :places
    %th
      = t :hour_price
    %th
      = t :day_price
    %th
    %th
    %th
    %th
  - @parkings.each do |parking|
    %tr
      %td= parking.address.try(:city)
      %td= parking.places
      %td= parking.hour_price
      %td= parking.day_price
      %td= link_to t(:show), parking
      %td= link_to t(:edit), edit_parking_path(parking)
      %td= link_to t(:remove), parking, method: :delete, data: { confirm: t(:confirmation) }
      %td= link_to t(:rent_a_place), new_parking_place_rent_path(parking)
