<h1>Parking details</h1>
<ul>
  <li><b>Places:</b> <%= @parking.places %></li>
  <li><b>Kind:</b> <%= @parking.kind %></li>
  <li><b>Hour price:</b> <%= @parking.hour_price %></li>
  <li><b>Day price:</b> <%= @parking.day_price %></li>
  <li><b>City:</b> <%= @parking.address.try(:zip_code) %> <%= @parking.address.try(:city) %> </li>
  <li><b>Street:</b> <%= @parking.address.try(:street) %></li>
  <li><b>Owner:</b> <%= @parking.owner.try(:first_name) %> <%= @parking.owner.try(:last_name) %></li>
</ul>
<%= link_to 'Back to parkings', parkings_path %>
