<h1>Listing cars</h1>

<table>
  <tr>
    <th>Registration number</th>
    <th>Model</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @cars.each do |car| %>
    <tr>
      <td><%= car.registration_number  %></td>
      <td><%= car.model %></td>
      <td><%= link_to 'Show', car %></td>
      <td><%= link_to 'Edit', edit_car_path(car) %></td>
      <td><%= link_to 'Remove', car, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>
