<!DOCTYPE html>
<html>
<head>
  <title><%= page_title %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'layouts/flash' %>
  <p>
  <% if current_person %>
    Welcome, <%= current_person.full_name %> | <%= link_to 'Logout', session_path(session), method: :delete %> |
  <% end %>
  <%= link_to 'Cars', cars_path %> |
    <%= link_to 'Parkings', parkings_path %> |
    <%= link_to 'Place rents', place_rents_path %>
  </p>

  <%= yield %>

</body>
</html>
